/***VARIABLE DECLARATION***/
$section: #009688;
$blockquote:  #212121;
$background:  #00695c;
$btn-hover:      #607d8b;

/***MATERIALIZECSS COLORS***/

$grey: #9e9e9e;
$grey-d2: #616161;
$teal-l1: #26a69a;